# === Database ===
DATABASE_URL=postgresql://user:password@host/db?sslmode=require

# === Better Auth ===
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://example.com
NEXT_PUBLIC_BETTER_AUTH_URL=https://example.com

# === Google OAuth ===
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# === RESEND ===
ADMIN_EMAIL=
RESEND_API_KEY=
RESEND_EMAIL_FROM=

# === Frontend ===
BASE_URL=https://example.com
NEXT_PUBLIC_WHATSAPP_NUMBER=6281234567890
NEXT_PUBLIC_WHATSAPP_MESSAGE=Halo

# === Midtrans ===
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
